<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" href="main.css">
  </head>
  <body>

<h1>Create A New Song</h1>

  <%= form_for [@artist, @song] do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :length %>
    <%= f.text_field :length %>

    <%= f.label :play_count %>
    <%= f.text_field :play_count %>

    <%= f.submit %>
  <% end %>

</body>
</html>
